body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
}

.centered {
  text-align: center;
}

h1.title {
  font-family: 'Oswald', sans-serif;
  font-variant: small-caps;
  font-weight: 700;
  font-size: 3em;
}

p.fact {
  font-size: 2em;
  font-style: italic;
}
